@page "/categories"

@inject NavigationManager _navigationManager
@inject CsLibrary.UseCases.IViewCategoriesUseCase _viewCategoriesUseCase
@inject CsLibrary.UseCases.IDeleteCategoryUseCase _deleteCategoryUseCase

<h3>Manage Categories</h3>

@if (categories is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>@category.Description</td>
                    <td><button type="button" @onclick="() => OnClick_UpdateCategory(category)" class="btn btn-link">Update</button></td>
                    <td><button type="button" @onclick="() => OnClick_DeleteCategory(category)" class="btn btn-danger">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
}
<br />

<button type="button" class="btn btn-outline-primary" @onclick="OnClick_AddCategory">Add Category</button>
@code {
    private List<Category> categories;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        categories = _viewCategoriesUseCase.Execute().ToList();
    }
    private void OnClick_AddCategory()
    {
        _navigationManager.NavigateTo("/addcategory");
    }
    private void OnClick_UpdateCategory(Category category)
    {
        _navigationManager.NavigateTo($"/updatecategory/{category.CategoryId}");
    }
    private void OnClick_DeleteCategory(Category category)
    {
        _deleteCategoryUseCase.Execute(category.CategoryId);
        _navigationManager.NavigateTo(_navigationManager.Uri, forceLoad:true);
    }
}